@import 'base/variables';
@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/tagline';
@import 'blocks/components';
@import 'blocks/about';
@import 'blocks/join';
@import 'blocks/benefits';
@import 'blocks/prices';

* {
    color: #fff;
    font-family: 'Ubuntu';
    /* box-sizing: border-box; */
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}







