@import 'base/variables';
@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/tagline';
@import 'blocks/components';

* {
    color: #fff;
    font-family: 'Ubuntu';
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}







