.join {
    background: #222224;
    min-height: 500px;
    padding: 80px 0 107px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__question {
        width: 400px;
        /* max-width: 400px; */
        height: 313px;
        background-color: $main-color;
        border-radius: 10px;
        padding: 37px 0 0 0;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 46px;
        margin: 0 auto 40px auto;
        text-align: center;
        width: 315px;
    }
    &__btn {
        background-color: #fff;
        font-weight: 500;
        font-size: 18px;
        border-radius: 10px;
        width: 160px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        color: $main-color;
        margin: 0 auto;
    }
    &__reasons {
        /* width: 790px; */
        /* max-width: 790px; */
        display: grid;
        /* grid-template: repeat(2, auto) / repeat(3, 1fr); */
        grid-template: repeat(2, auto) / repeat(3, 217px);
        row-gap: 65px;
        column-gap: 50px;
        padding: 34px 0 34px 0;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__text {
        font-weight: 700;
        font-size: 24px;
        padding: 0 0 0 20px;
        text-transform: capitalize;
        width: 128px;
    }
    /* &__reasons {
        width: 790px;
        height: 245px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 217px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
    }
    &__text {
        font-weight: 700;
        font-size: 24px;
        text-transform: capitalize;
        width: 107px;
    } */
}