.tagline {
    min-height: 870px;
    background: url('../img/man.png') 50%/cover no-repeat;
    padding: 167px 0 0 0;
    &__bigtext {
        width: 854px;
        font-weight: 700;
        font-size: 80px;
        line-height: 120%;
        text-transform: capitalize;
        margin: 0 0 20px 0;
    }
    &__smalltext {
        width: 793px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 0 0 70px 0;
    }
    &__btn {
        width: 200px;
        height: 65px;

        font-weight: 500;
        font-size: 18px;
        line-height: 65px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 0 206px 0;
    }
}